.App {
  text-align: center;
}
.BlogCards {
  padding: 30px;
  box-shadow: 1px 2px 3px gray;
  margin: 40px;
  background: lightblue;
}
.alert-danger {
  margin-top: 5px;
}
.error-border {
  border: 1px solid brown;
}

* {
  text-decoration: none !important;
}
